<div class="container">
  <h1>Edit Group Fitness Class</h1>

  <%= render "form", gfc: @gfc %>

  <br>

  <div>
    <%= link_to "Show this class", @gfc %> |
    <%= link_to "Back to all classes", gfcs_path %>
  </div>
</div>