<div class="container" style="margin-top: 20px;">
  <h1>Group Fitness Classes</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar" id="gfcs">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Created By</th>
        <th scope="col">Creation Date</th>
      </tr>
    </thead>
    <tbody>
      <% @gfcs.each do |gfc| %>
      <tr>
        <th scope="row"><%= link_to gfc.title, gfc %></th>
        <td><%= link_to gfc.user.full_name, user_path(gfc.user) %></td>
        <td><%= gfc.created_at.strftime("%Y-%m-%d") %></td>
      <% end %>
    </tbody>
    </table>
  </div>
    <div class="text-end">
      <%= link_to "New Class", new_gfc_path, class:"btn btn-primary" %>
    </div>
</div>
