<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Group Fitness Classes</h1>

  <div id="gfcs">
    <% @gfcs.each do |gfc| %>
      <%= render gfc %>
      <p>
        <%= link_to "Show this class", gfc %>
      </p>
    <% end %>
  </div>

  <%= link_to "New Class", new_gfc_path %>
</div>