body {
  background-image: linear-gradient(black, rgb(41, 41, 41));
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: white;
  width: 9600px;
  height: 1080px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgb(155, 155, 155) 1px 0 10px;
}
.background-video {
  position: absolute;
}
.whole-wall-grid {
  position: absolute;
  display: grid;
  grid-template-rows: 1080px;
  grid-template-columns: 700px 1960px 4280px 1960px 700px;
}
/* Dead space, also serves as the container for the clock if used */
.border {
  display: grid;
  padding-top: 150px;
  justify-items: center;
}

/* The live clock which is tied to the javascript script section */
.clock-container-left,
.clock-container-right {
  font-size: 80px;
  display: grid;
}
.clock-container-left {
  justify-items: left;
}
.clock-container-right {
  justify-items: right;
}
/* Whole container for the workout block and information sections */
.workout-block-left,
.workout-block-right {
  display: grid;
  grid-template-rows: 180px 500px 400px;
}
/* These three classes make up the title section of the 
workout blocks */
.block-title-grid {
  display: grid;
  grid-template-rows: 180px;
  grid-template-columns: 1fr;
}

.block-title {
  display: grid;
  align-items: center;
  font-size: 70px;
  text-transform: uppercase;
  border-bottom: 12px solid white;
}

.block-title-span {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 140px;
}
/* These are the sections which contain the lists of workouts */
.workout-sub-block-left,
.workout-sub-block-right {
  display: grid;
  grid-template-columns: 140px 770px 140px 140px 1fr;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  font-size: 50px;
  list-style: none;
  padding-left: none;
  padding-top: 20px;
  line-height: 90px;
}

li {
  border-bottom: 4px solid white;
  text-transform: capitalize;
}

/* The extra workouts section, for this layout it's tabatas */
.additional-workouts-block {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 400px 1fr 400px 1fr 400px;
}
.tabata-cross {
  display: grid;
  grid-template-rows: 150px 150px;
}

.tabata-title {
  border-bottom: 4px solid white;
  font-size: 60px;
  text-transform: uppercase;
  align-self: end;
  text-align: center;
  padding-bottom: 10px;
}

.tabata-workout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tabata-left,
.tabata-right {
  padding-top: 20px;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
}

.tabata-left {
  border-right: 2px solid white;
}

.tabata-right {
  border-left: 2px solid white;
}

/* The center section */
.center-title {
  display: grid;
  grid-template-rows: 280px 1fr 200px;
  grid-template-columns: 1fr;
  text-align: center;
  text-transform: uppercase;
}

.title-grid {
  font-size: 180px;
  padding-top: 50px;
}

.instructor-grid {
  font-size: 90px;
  padding-bottom: 100px;
}
