body {
  background-image: linear-gradient(black, rgb(41, 41, 41));
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: white;
  width: 9600px;
  height: 1080px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgb(155, 155, 155) 1px 0 10px;
}
.background-video {
  position: absolute;
}
.whole-wall-grid {
  position: absolute;
  display: grid;
  grid-template-rows: 1080px;
  grid-template-columns: 600px 1960px 4480px 1960px 600px;
}
.border {
  display: grid;
  padding-top: 150px;
  justify-items: center;
}

.clock-container {
  font-size: 80px;
  display: grid;
  justify-items: left;
}

.workout-block-left,
.workout-block-right {
  display: grid;
  grid-template-rows: 180px 900px;
}
.block-title-grid {
  display: grid;
  grid-template-rows: 180px;
  grid-template-columns: 1fr;
}
.workout-sub-block-left,
.workout-sub-block-right {
  display: grid;
  grid-template-columns: 140px 770px 140px 140px 1fr;
}
.center-title {
  display: grid;
  grid-template-rows: 280px 1fr 200px;
  grid-template-columns: 1fr;
}
.center-title {
  text-align: center;
  text-transform: uppercase;
}
.title-grid {
  font-size: 180px;
  padding-top: 50px;
}
.instructor-grid {
  font-size: 90px;
  padding-bottom: 100px;
}
.block-title {
  display: grid;
  align-items: center;
  font-size: 70px;
  text-transform: uppercase;
  border-bottom: 12px solid white;
}
.block-title-span {
  padding-left: 140px;
  padding-top: 40px;
  padding-bottom: 0px;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  font-size: 50px;
  list-style: none;
  padding-left: none;
  padding-top: 20px;
  line-height: 90px;
}
li {
  border-bottom: 4px solid white;
  text-transform: capitalize;
}
