<div class="container"  style="margin-top: 20px;">  
  <h1>Class types</h1>
  <div class="text-end">
    <%= link_to "New Class Template", new_class_type_path, class:"btn btn-primary" %>
  </div>
  <div id="class_types">
  <div class="table-wrapper-scroll-y my-custom-scrollbar" id="class_types">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Background video</th>
          </tr>
        </thead>
        <tbody>
          <% @class_types.each do |class_type| %>
          <tr>
            <th scope="row"><%= link_to class_type.title, class_type %></th>
            <td><%= class_type.video.name %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>