<div class="container">
  <h1>Users</h1>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" id="users">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                    <th scope="row"><%= user.id %></th>
                    <td><%= link_to user.full_name, user_path(user) %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role.capitalize %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>