<div class="container">
    <div class="jumbotron" style: >
        <h1 class="display-4"><strong>Alter Fitness Studio</strong></h1>
        <p class="lead">Build and display group fitness classes as an Alter instructor</p>
        <hr class="my-4">
        <p class="lead">
            <%= link_to "Class Portal", gfcs_path, class:"btn btn-secondary"%>
        </p>
    </div>
</div>