<% if current_user %>
    <% if current_user.admin? %>
        <li class="nav-item">
            <%= link_to "Class Templates", class_types_path, class:'nav-link' %>
        </li>
    <% end %>
<% end %>