#kettlebuilt .whole-wall-grid {
  position: absolute;
  display: grid;
  grid-template-rows: 1080px;
  grid-template-columns: 1900px 1960px 1880px 1960px 1900px;
}

/* Dead space, also serves as the container for the clock if used */
#kettlebuilt .border {
  border: 0;
  border-width: 0px;
}

/* The live clock which is tied to the javascript script section */
#kettlebuilt .clock-container-left,
#kettlebuilt .clock-container-right {
  font-size: 80px;
  display: grid;
}
#kettlebuilt .clock-container-left {
  justify-items: left;
}
#kettlebuilt .clock-container-right {
  justify-items: right;
}

/* Whole container for the workout block and information sections */
#kettlebuilt .workout-block {
  display: grid;
  grid-template-rows: 220px 860px;
}

/* These three classes make up the title section of the 
  workout blocks */
#kettlebuilt .block-title-grid {
  font-family: "Barlow Condensed";
  display: grid;
  grid-template-rows: 220px;
  grid-template-columns: 910px 140px 910px;
}

#kettlebuilt .block-title {
  display: grid;
  font-size: 90px;
  padding-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 12px solid white;
  align-self: end;
}

#kettlebuilt .block-title-span {
  text-align: center;
}

/* These are the sections which contain the lists of workouts */
#kettlebuilt .workouts-column {
  width: 910px;
  white-space: nowrap;
  text-overflow: "";
  overflow: hidden;
}

#kettlebuilt .workout-sub-block {
  display: grid;
  grid-template-columns: 910px 140px 910px;
}

#kettlebuilt ul,
#kettlebuilt li {
  margin: 0;
  padding: 0;
}
#kettlebuilt ul {
  font-size: 50px;
  list-style: none;
  padding-left: none;
  padding-top: 20px;
  line-height: 90px;
  counter-reset: item;
}
#kettlebuilt li {
  margin-left: 0;
  /* border-bottom: 4px solid white; */
  text-transform: capitalize;
  counter-increment: item;
}
#kettlebuilt li:before {
  content: counter(item, decimal-leading-zero) ".";
  display: inline-block;
  width: 140px;
}
#kettlebuilt li:nth-of-type(1n + 9) {
  display: none;
}

/* The center section */
#kettlebuilt .meta-title {
  display: grid;
  font-family: "Barlow Condensed";
  grid-template-rows: 260px 260px 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}

#kettlebuilt .right-meta {
  justify-items: end;
}
#kettlebuilt .left-meta {
  justify-items: start;
}

#kettlebuilt .title-grid {
  font-size: 180px;
  align-self: end;
  text-transform: uppercase;
}

#kettlebuilt .right-title {
  text-align: right;
  padding-right: 200px;
}
#kettlebuilt .left-title {
  text-align: left;
  padding-left: 200px;
}

#kettlebuilt .instructor-grid {
  font-size: 120px;
  align-self: end;
}

#kettlebuilt .triangle-logo {
  width: 400px;
  align-self: center;
}
