body {
  background-image: linear-gradient(black, rgb(41, 41, 41));
  margin: 0;
  border: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: white;
  width: 9600px;
  height: 1080px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgb(155, 155, 155) 1px 0 10px;
}
video {
  position: absolute;
}
