<%= form_with(model: [gfc, gfc.workout_blocks.build]) do |f| %>
    <div class="form-control">
        <%= f.rich_text_area :body %>
        <%= f.submit "Submit", class: "btn btn-primary mt-1" %>
    </div>
<% end %>