<% if notice %>
    <div class="alert alert-light d-flex justify-content-center" role="alert">
    <%= notice %>
    </div>
<% elsif alert %>
    <div class="alert alert-primary d-flex justify-content-center" role="alert">
    <%= alert %>
    </div>
<% end %>