<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <%= link_to image_tag('PNG/256w/White-Logotype-Alter Brandmark-RGB-256px-RGB.png', height: "24px", :alt => "Alter", :class => "css"), root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <%= link_to "Classes", gfcs_path, class:'nav-link' %>
            </li>
            <%= render 'user/class_type_session_manager' %>
        </ul>
        <ul class="navbar-nav">
            <%= render 'user/session_manager' %>
        </ul>
        </div>
    </div>
</nav>