<!DOCTYPE html>
<html>
    <head>
        <title>AlterStudio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: black;
                margin: 0;
                padding: 0;
                font-family: 'Barlow', sans-serif;
                font-size: 30px;
                color: white;
            }
            .body-container {
                width: 9600px;
                height: 1080px;
            }
            .video-container {
                z-index: 0;
                width: 9600px;
                height: 1080px;
            }
            .left-container {
                z-index: 1;
                position: absolute;
                display: flex;
                top: 80px;
                left: 100px;
            }
            .right-container {
                z-index: 1;
                position: absolute;
                display: flex ;
                top: 80px;
                right: 100px;
            }
            h1, h2 {
                line-height: .3em;
                margin: .6em 0;
            }
            h2 {
                font-weight: 300;
            }
            .class-title-left {
                padding: 20px;
                margin-right: 40px;
                width: auto;
                height: 130px;
                border: 2px solid white;
                background-color: rgba(255, 255, 255, 0.3);
            }
            .class-flow-left {
                font-size: 1.3rem;
                max-height: 980px;
            }
            .class-title-right {
                padding: 20px;
                margin-left: 40px;
                width: auto;
                height: 130px;
                border: 2px solid white;
                background-color: rgba(255, 255, 255, 0.3);
            }
            .class-flow-right {
                font-size: 1.3rem;
                max-height: 980px;
                text-align: right; 
            }
        </style>
    </head>
    <body>
        <div class="body-container">
            <video class="video-container" width="9600" height="1080" autoplay muted loop>
                <source src="http://marvel.nickandjt.com/alterstudiotest.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <div class="left-container">
                <div class="class-title-left">
                    <h1>T.E.A.M.</h1>
                    <h2>with Alexandra Daniels</h2>
                </div>
                
                <div class="class-flow-left">
                    <div>
                        <strong>Intro - </strong>
                        2 mins
                        <br>
                        <strong>Warm-Up - </strong>
                        5 mins
                        <br>
                        <strong>EMOM #1 - </strong>
                        6 mins
                    </div>
                    <ul>
                        <li>W-curl to regular curl</li>
                        <li>Alternating pec fly</li>
                        <li>Tricep kickbacks</li>
                        <li>Side raise / curl / press</li>
                        <li>Renegade rows</li>
                        <li>Glute bridge chest press</li>
                    </ul>
                    <div>
                        <strong>Tabata #1</strong>
                    </div>
                    <ul>
                        <li>Hop in and out</li>
                        <li>Bicycles</li>
                    </ul>
                    <div>
                        <strong>Recovery - </strong>
                        60 secs
                        <br>
                        <strong>AMRAP #1 - </strong>
                        6 mins
                    </div>
                    <ul>
                        <li>6 reps of each</li>
                    </ul>
                    <div>
                        <strong>TABATA #2</strong>
                    </div>
                    <ul>
                        <li>Up down planks</li>
                        <li>Plank hold</li>
                    </ul>
                    <div>
                        <strong>Recovery - </strong>
                        60 secs
                        <br>
                        <strong>EMOM #2 - </strong>
                        6 mins
                    </div>
                    <ul>
                        <li>Alternating reverse lunge</li>
                        <li>Sumo deadlifts</li>
                        <li>Side-to-side lunges</li>
                        <li>Goblet squat</li>
                        <li>Rainbow lunges</li>
                        <li>Good mornings</li>
                    </ul>
                    <div>
                        <strong>Tabata #3</strong>
                    </div>
                    <ul>
                        <li>Log hops</li>
                        <li>Leg lifts</li>
                    </ul>
                    <div>
                        <strong>Recovery</strong>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="class-flow-right">
                    <div>
                        <strong>Intro - </strong>
                        2 mins
                        <br>
                        <strong>Warm-Up - </strong>
                        5 mins
                        <br>
                        <strong>EMOM #1 - </strong>
                        6 mins
                    </div>
                    <ul>
                        <li>W-curl to regular curl</li>
                        <li>Alternating pec fly</li>
                        <li>Tricep kickbacks</li>
                        <li>Side raise / curl / press</li>
                        <li>Renegade rows</li>
                        <li>Glute bridge chest press</li>
                    </ul>
                    <div>
                        <strong>Tabata #1</strong>
                    </div>
                    <ul>
                        <li>Hop in and out</li>
                        <li>Bicycles</li>
                    </ul>
                    <div>
                        <strong>Recovery - </strong>
                        60 secs
                        <br>
                        <strong>AMRAP #1 - </strong>
                        6 mins
                    </div>
                    <ul>
                        <li>6 reps of each</li>
                    </ul>
                    <div>
                        <strong>TABATA #2</strong>
                    </div>
                    <ul>
                        <li>Up down planks</li>
                        <li>Plank hold</li>
                    </ul>
                    <div>
                        <strong>Recovery - </strong>
                        60 secs
                        <br>
                        <strong>EMOM #2 - </strong>
                        6 mins
                    </div>
                    <ul>
                        <li>Alternating reverse lunge</li>
                        <li>Sumo deadlifts</li>
                        <li>Side-to-side lunges</li>
                        <li>Goblet squat</li>
                        <li>Rainbow lunges</li>
                        <li>Good mornings</li>
                    </ul>
                    <div>
                        <strong>Tabata #3</strong>
                    </div>
                    <ul>
                        <li>Log hops</li>
                        <li>Leg lifts</li>
                    </ul>
                    <div>
                        <strong>Recovery</strong>
                    </div>
                </div>
                <div class="class-title-right">
                    <h1>T.E.A.M.</h1>
                    <h2>with Alexandra Daniels</h2>
                </div>
            </div>
        </div>
    </body>
</html>