        <%# The logic below is you have the title of the class, you make it lower case, you delete
        all whitespaces from the title string, and render the partial that matches the resulting string
        so you'll need to have a matching partial for every class type. This also will %>
<% class_template_id = @studio.class_type.title.downcase.gsub(/[^0-9A-Za-z]/, '') %>
<html>
  <head>
    <title>Studio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Barlow:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "studio" %>
   
    
    <link
      href="http://localhost:9990/<%= class_template_id %>.css"
      rel="stylesheet"
    />
    
    <%# This is the clock below %>
    <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var ms = today.getMilliseconds();
        h = checkTime(h);
        m = checkTime(m);
        s = checkTime(s);
        // ms = checkTime(ms);
        document.getElementById("time").innerHTML = h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 100);
      }
      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }
    </script>
  </head>
  <body>
    <div class="body-container">
      <% video_url = "http://localhost:9990/" + @studio.class_type.video.filename%> 
      <%= video_tag(video_url,
          size: "9600x1080",
          muted: :muted, 
          autoplay: :autoplay, 
          loop: :loop) %>
      <div>
        <%= render 'studio/' + class_template_id %>
      </div>
    </div>
  </body>
</html>
